/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/task.xml
/.idea/usage.statistics.xml
/.idea/assetWizardSettings.xml
/.idea/vcs.xml
/.idea/codeStyles/
bin/
gen/
/build
obj/
/captures

*.iml
.gradle
.DS_Store
.externalNativeBuild
*.apk
*.ap_
*.class

output.json